@use "../../utils/style/variables" as v;

.session-duration {
    background-color: v.$red;
    // padding: 10px;
    border-radius: 5px;
    position: relative;
    flex: 1;
    h2{
        margin: 0;
        font-size: 15px;
        color: v.$white;
        width: 147px;
        position: absolute;
        top: 29px;
        left: 34px;
        font-weight: 500;
        opacity: 50%;
    }
    .customized-tooltip{
        background-color: v.$white;
        padding: 10px;
        color: v.$black;
        position: relative;
        p{
            font-size: 14px;
            font-weight: 700;
            margin: 10px 0;
        }
    }
}
