//fonts
@import url(https://fonts.bunny.net/css?family=roboto:400,500,700);
$roboto : 'Roboto', sans-serif;

//colors
//red
$red : #E60000;
//black
$background-nav : #020203;
//light grey
$background-graph : #FBFBFB;
//dark grey
$background-graph-dark : #282D30;
//white
$white : #ffffff;
//black
$black : #000000;
//grey
$grey : #74798C;